
/*Fonts*/

@font-face {
  font-family: 'Inter Regular';
  src: url('fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

/*Variables*/

$col_black: #000000;
$col_white: #ffffff;
$col_darkgrey: #3b3b3b;
$col_unactive: #82828B;
$col_palgrey: #F0F0F5;
$col_lightgrey: #e3e3e3;
$col_primary: #595CFF;
$col_secondary: #8C8EFF;
$col_primarydark: #383be4;
$col_warning: #f9933c;

$trans: .5s;

/*Mixins*/
@mixin flex_column {
  display: flex;
  flex-direction: column;
}

@mixin flex_row {
  display: flex;
  flex-direction: row;
}

@mixin simple_size($size) {
  width: $size;
  height: $size;
}

@mixin filter() {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

@mixin nav_button() {
  .nav {
    @include flex_row();
    width: 60px;
    justify-content: space-between;
    @content;

    button {
      cursor: pointer;
      padding: 5px;
      border: none;
      border-radius: 2px;
      transition: $trans;
      background-color: $col_palgrey;

      &:hover {
        background-color: $col_primary;

        &>img {
          @include filter();
        }
      }

      img {
        @include simple_size(18px);
      }
    }
  }
}

@keyframes anim {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/*Styles*/

* {
  font-family: 'Inter Regular';
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 30px;
  transition: $trans;
}

.app.dark{
  background-color: $col_darkgrey;
  & > * {
    color: $col_white;
  }

  .header {
    .menu {
      img {
        @include filter();
      }
    }
  }
}

/*Header*/
.header {
  @include flex_column;

  .menu, .nav {
    @include flex_row
  }

  .menu {
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;

    img {
      cursor: pointer;
      @include simple_size(16px);
    }

    .mode {
      img {

      }
    }

    .logo {
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 2px;
    }

    .buttons {
      @include flex_row;

      img {
        &:nth-child(1) {
          transform: translateX(-20px);
        }
      }
    }
  }

  .nav {
    justify-content: center;
    padding: 28px 0;

    .item {
      margin: 0 33px;
      cursor: pointer;

      a {
        color: $col_black;
        transition: $trans;

        &:hover {
          color: $col_primarydark;
        }
      }
    }
  }
}


/*MAIN*/
/*Banner*/

.banners_container {
  @include flex_column();
  align-items: center;

  .banners {
    @include flex_row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .banner {
      @mixin banner_img($url) {
        background: url($url);
        background-size: cover;
      }

      max-width: 300px;
      //max-height: 100px;
      width: 100%;
      margin-top: 20px;
      padding: 50px 80px;
      background-color: #8C8EFF;
      border-radius: 4px;
      color: $col_black;
      animation: anim 2.5s forwards;

      &.first{
        @include banner_img("img/banners/banner1.jpg");
      }

      &.second{
        @include banner_img("img/banners/banner2.jpg");
      }

      &.third{
        @include banner_img("img/banners/banner3.png");
      }

      &:nth-child(1) {
        width: 100%;
        max-width: 100%;
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        background-position: center top -40px;
        display: none;
      }

      .title {
        font-size: 22px;
        line-height: 28px;
      }

      .description {
        font-size: 16px;
        line-height: 22px;
        margin-top: 5px;
      }

      button {
        margin-top: 20px;
        padding: 10px 15px;
        border-radius: 4px;
        @include flex_row;
        align-items: center;
        border: none;
        background-color: $col_black;
        color: $col_white;
        cursor: pointer;
        transition: $trans;

        &:hover {
          background-color: $col_primarydark;
        }

        img {
          margin-left: 10px;
        }
      }
    }
  }

  @include nav_button() {
    margin-top: 15px;
  }
}


/*ProductsBlock*/
.productsblock {
  margin-top: 70px;

  .head {
    @include flex_row();
    justify-content: space-between;
    align-items: center;

    @include nav_button();
  }

  .products {
    margin-top: 30px;
    @include flex_row;
    justify-content: space-between;

    .product {
      text-align: center;
      @include flex_column();
      align-items: center;
      opacity: 0;
      animation: anim 2.5s forwards;
      cursor: pointer;

      &:hover {
        & > .button {
          opacity: 1;
          visibility: visible;
        }
      }

      &:nth-child(3) {
        display: none;
      }

      &:nth-child(4) {
        display: none;
      }

      $img_size: 200px;

      img {
        @include simple_size($img_size);
        border-radius: 4px;
      }

      .title {
        margin-top: 15px;
      }

      .price {
        margin-top: 8px;
        line-height: 17px;

        .sale {
          margin-left: 7px;
          text-decoration: line-through;
          color: $col_unactive;
          line-height: 18px;
        }
      }

      .button {
        cursor: pointer;
        padding: 8px;
        border: none;
        border-radius: 2px;
        transition: $trans;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        margin-top: $img_size - 60px;
        outline: none;
        background-color: $col_palgrey;

        &:hover {
          background-color: $col_primary;

          &>.icon {
            @include filter();
          }
        }

        .icon {
          @include simple_size(24px);
          transition: $trans;
        }
      }
    }
  }
}

/*Footer*/
.footer {
  @include flex_row;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-top: 50px;

  span {
    font-size: 14px;
    text-align: center;
  }
}

/*NOT FOUND*/
.notfound {
  text-align: center;
  margin: 230px 0;
}

.ms-warning {
  color: $col_warning;
}

/*PRODUCT CARD*/

.product-card {
  @include flex_row();
  justify-content: space-between;
  margin-top: 20px;
  animation: anim 2.5s forwards;

  .product-img {
    @include simple_size(550px);
  }

  .product-info {
    width: 550px;

    .product-price {
      font-size: 20px;
      margin-top: 8px;

      &::after {
        content: '';
        margin-top: 8px;
        display: block;
        height: 1px;
        width: 100%;
        background-color: $col_lightgrey;
      }
    }

    .product-sale {
      margin-left: 7px;
      text-decoration: line-through;
      color: $col_unactive;
      font-size: 16px;
    }

    .product-options {
      margin-top: 30px;

      .options-title {
        font-weight: bold;
        margin-bottom: 20px;
      }

      button {
        border: none;
        cursor: pointer;
      }

      .but-counter {
        border-radius: 50%;
        @include simple_size(30px);
        font-size: 18px;
        transition: $trans;

        &:hover {
          background-color: $col_primarydark;
          color: $col_white;
        }
      }

      .counter {
        margin: 0 15px;
      }

      .options-color {
        @include flex_row();

        .color {
          @include simple_size(40px);
          background-color: $col_primarydark;
          border-radius: 50%;
          margin-left: 5px;
          cursor: pointer;

          &:nth-child(1) {
            margin-left: 0;
          }
        }
      }
    }

    .but-buy {
      margin-top: 50px;
      border: none;
      background-color: $col_black;
      color: $col_white;
      border-radius: 4px;
      text-align: center;
      padding: 15px;
      cursor: pointer;
      width: 100%;
      transition: $trans;

      &:hover {
        background-color: $col_primarydark;
      }
    }

    .details {
      @include flex_row();
      justify-content: space-between;
      border-bottom: 1px solid $col_lightgrey;
      margin-top: 50px;
      padding-bottom: 10px;

      .title {

      }

      .but-details {
        background: none;
        border: none;
        cursor: pointer;
        transition: $trans;
        color: $col_primary;
        margin-right: 5px;
        font-size: 20px;

        &:hover {
          color: $col_primarydark;
        }
      }
    }
  }
}

/*Media Screens*/

$sizes: ("sm":575.98px, "md":767.98px, "lg":991.98px, "xl":1199.98px);

@mixin md($minmax, $size) {
  @media only screen and (#{$minmax}-width: $size) {
    @content;
  }
}

@mixin media($minmax, $media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media only screen and (#{$minmax}-width: $resolution) {
        @content;
      }
    }
  }
}

@include md("max", 510px) {
  .banners {
    .banner {
      text-align: center;

      button {
        margin: 20px auto 0 auto;
      }
    }
  }

  .productsblock {
    .products {
      .product {
        $size: 200px;

        img {
          @include simple_size($size);
        }

        button {
          margin-top: $size - 60px !important;
        }
      }
    }
  }

  .product-card {
    flex-wrap: wrap;
    justify-content: center;

    $size: 100%;

    .product-img {
      @include simple_size($size);
    }

    .product-info {
      width: $size;
      margin-top: 50px;
    }
  }
}

@include md("max", 460px) {
  .banners_container {
    .banners {
      .banner {
        padding: 40px 60px;
      }
    }
  }

  .productsblock {
    .products {
      justify-content: center;

      .product {
        &:nth-child(2) {
          display: none;
        }

        $size: 280px;

        img {
          @include simple_size($size);
        }

        button {
          margin-top: $size - 60px !important;
        }
      }
    }
  }

}

@include md("min", 510px) {
  .product-card {
    flex-wrap: wrap;
    justify-content: center;

    $size: 100%;

    .product-img {
      @include simple_size($size);
    }

    .product-info {
      width: $size;
      margin-top: 50px;
    }
  }
}

@include media("min", "sm") {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }

  .banners_container {
    .banners {
      .banner:nth-child(2), .banner:nth-child(3) {
        display: none;
      }
    }
  }

  .productsblock {
    .products {
      .product {
        $size: 260px;

        img {
          @include simple_size($size)
        }

        button {
          margin-top: $size - 60px !important;
        }
      }
    }
  }
}

@include media("min", "md") {
  .container {
    max-width: 720px;
  }

  .productsblock {
    .products {
      .product {

        $size: 230px;

        img {
          @include simple_size($size)
        }

        button {
          margin-top: $size - 60px !important;
        }

        &:nth-child(3) {
          display: flex;
        }
      }
    }
  }

  .product-card {
    flex-wrap: nowrap;
    justify-content: space-between;

    $size: 320px;

    .product-img {
      @include simple_size($size);
    }

    .product-info {
      width: $size;
      margin-top: 0;
    }
  }
}

@include media("min", "lg") {
  .container {
    max-width: 960px;
  }

  .banners_container {
    .banners {
      .banner {
        &.first {
          order: 1;
          width: 100%;
          max-width: 100%;
        }

        &.second {
          order: 2;
          max-width: 300px;
        }

        &.third {
          order: 3;
          max-width: 300px;
        }

        &:nth-child(2) {
          display: block;
        }

        &:nth-child(3) {
          display: block;
        }
      }
    }
    .nav {
      display: none;
    }
  }

  .productsblock {
    .products {
      .product {
        &:last-child {
          display: flex;
        }
      }
    }
  }

  .product-card {
    $size: 400px;

    .product-img {
      @include simple_size($size);
    }

    .product-info {
      width: $size;
    }
  }
}

@include media("min", "xl") {
  .container {
    max-width: 1280px;
    padding: 0 120px;
  }

  .banners_container {
    .banners {
      .banner {
        &.second, &.third {
          max-width: 310px
        }
      }
    }
  }

  .product-card {
    $size: 450px;

    .product-img {
      @include simple_size($size);
    }

    .product-info {
      width: $size;
    }
  }
}

@include md("min", 1300px) {
  .banners_container {
    .banners {
      .banner {
        &.second, &.third {
          max-width: 360px;
        }
      }
    }
  }

  .productsblock {
    .products {
      .product {
        $size: 250px;

        img {
          @include simple_size($size)
        }

        button {
          margin-top: $size - 60px !important;
        }
      }
    }
  }

  .product-card {
    $size: 500px;

    .product-img {
      @include simple_size($size);
    }

    .product-info {
      width: $size;
    }
  }
}

@include md("min", 1400px) {
  .banners_container {
    .banners {
      .banner {
        &.second, &.third {
          max-width: 410px;
        }
      }
    }
  }

  .productsblock {
    .products {
      .product {
        $size: 280px;

        img {
          @include simple_size($size)
        }

        button {
          margin-top: $size - 60px !important;
        }
      }
    }
  }

  .product-card {
    $size: 550px;

    .product-img {
      @include simple_size($size);
    }

    .product-info {
      width: $size;
    }
  }
}

@include md("min", 1520px) {
  .banners_container {
    .banners {
      .banner {
        &.second, &.third {
          max-width: 470px;
        }
      }
    }
  }
}




