/*Fonts*/

@font-face {
  font-family: 'Inter Regular';
  src: url('fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

/*Variables*/

$col_black: #000000;
$col_white: #ffffff;
$col_darkgrey: #3b3b3b;
$col_unactive: #82828B;
$col_palgrey: #F0F0F5;
$col_lightgrey: #e3e3e3;
$col_primary: #595CFF;
$col_secondary: #8C8EFF;
$col_primarydark: #383be4;
$col_warning: #f9933c;

$trans: .5s;

/*Mixins*/
@mixin flex_column {
  display: flex;
  flex-direction: column;
}

@mixin flex_row {
  display: flex;
  flex-direction: row;
}

@mixin simple_size($size) {
  width: $size;
  height: $size;
}

@mixin filter() {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

@mixin nav_button() {
  .nav {
    @include flex_row();
    width: 60px;
    justify-content: space-between;
    @content;

    button {
      cursor: pointer;
      padding: 5px;
      border: none;
      border-radius: 2px;
      transition: $trans;
      background-color: $col_palgrey;

      &:hover {
        background-color: $col_primary;

        & > img {
          @include filter();
        }
      }

      img {
        @include simple_size(18px);
      }
    }
  }
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    margin-top: 0px;
  }
  100% {
    opacity: 1;
    margin-top: 20px;
  }
}

/*Styles*/

* {
  font-family: 'Inter Regular';
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 5px;     /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: none;        /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $col_darkgrey;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }
}

a {
  text-decoration: none;
}

.container {
  padding: 0 30px;
  transition: $trans;
}

.app.dark {
  background-color: $col_darkgrey;

  & > * {
    color: $col_white;
  }

  .header {
    .menu {
      img {
        @include filter();
      }
    }
  }

  .filter-option {
    color: $col_white;

    option {
      color: $col_black;
    }
  }
}

/*Header*/
.header {
  @include flex_column;

  .menu, .nav {
    @include flex_row
  }

  .menu {
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;

    img {
      cursor: pointer;
      @include simple_size(16px);
    }

    .cart-count {
      position: absolute;
      right: -15px;
      top: -15px;
      font-size: 13px;
      background-color: #fd2727;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      text-align: center;
    }

    .mode {
      img {

      }
    }

    .logo {
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 2px;
    }

    .buttons {
      @include flex_row;
      position: relative;

      img {
        &:nth-child(1) {
          transform: translateX(-20px);
        }
      }
    }
  }

  .nav {
    justify-content: center;
    padding: 28px 0;

    .item {
      margin: 0 33px;
      cursor: pointer;

      a {
        color: $col_black;
        transition: $trans;

        &:hover {
          color: $col_primarydark;
        }
      }
    }
  }
}


/*MAIN*/
/*Banner*/

.banners_container {
  @include flex_column();
  align-items: center;

  .banners {
    @include flex_row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .banner {
      @mixin banner_img($url) {
        background: url($url);
        background-size: cover;
      }

      max-width: 300px;
      //max-height: 100px;
      width: 100%;
      margin-top: 20px;
      padding: 50px 80px;
      background-color: #8C8EFF;
      border-radius: 4px;
      color: $col_black;
      animation: anim 2.5s forwards;

      &.first {
        @include banner_img("img/banners/banner1.jpg");
      }

      &.second {
        @include banner_img("img/banners/banner2.jpg");
      }

      &.third {
        @include banner_img("img/banners/banner3.png");
      }

      &:nth-child(1) {
        width: 100%;
        max-width: 100%;
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        background-position: center top -40px;
        display: none;
      }

      .title {
        font-size: 22px;
        line-height: 28px;
      }

      .description {
        font-size: 16px;
        line-height: 22px;
        margin-top: 5px;
      }

      button {
        margin-top: 20px;
        padding: 10px 15px;
        border-radius: 4px;
        @include flex_row;
        align-items: center;
        border: none;
        background-color: $col_black;
        color: $col_white;
        cursor: pointer;
        transition: $trans;

        &:hover {
          background-color: $col_primarydark;
        }

        img {
          margin-left: 10px;
        }
      }
    }
  }

  @include nav_button() {
    margin-top: 15px;
  }
}

/*ProductsBlock*/
.productsblock {
  margin-top: 70px;

  .head {
    @include flex_row();
    justify-content: space-between;
    align-items: center;

    @include nav_button();
  }
}

/*Products*/
.products {
  margin-top: 30px;
  @include flex_row;
  justify-content: space-between;

  .product {
    text-align: center;
    @include flex_column();
    align-items: center;
    opacity: 0;
    animation: anim 2.5s forwards;
    cursor: pointer;

    &:hover {
      & > .button {
        opacity: 1;
        visibility: visible;
      }
    }

    &:nth-child(3) {
      display: none;
    }

    &:nth-child(4) {
      display: none;
    }

    $img_size: 200px;

    img {
      @include simple_size($img_size);
      border-radius: 4px;
    }

    .title {
      margin-top: 15px;
    }

    .price {
      margin-top: 8px;
      line-height: 17px;

      .sale {
        margin-left: 7px;
        text-decoration: line-through;
        color: $col_unactive;
        line-height: 18px;
      }
    }

    .button {
      cursor: pointer;
      padding: 8px;
      border: none;
      border-radius: 2px;
      transition: $trans;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      margin-top: $img_size - 60px;
      outline: none;
      background-color: $col_palgrey;

      &:hover {
        background-color: $col_primary;

        & > .icon {
          @include filter();
        }
      }

      .icon {
        @include simple_size(24px);
        transition: $trans;
      }
    }
  }
}

/*Footer*/
.footer {
  @include flex_row;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-top: 50px;

  span {
    font-size: 14px;
    text-align: center;
  }
}

/*NOT FOUND*/
.notfound {
  text-align: center;
  margin: 230px 0;
}

.ms-warning {
  color: $col_warning;
}

/*PRODUCT CARD*/

@mixin but{
  border: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  width: 100%;
  transition: 0.5s;
  @content;

  &:hover {
    background-color: $col_primarydark;
  }
}

.product-card {
  @include flex_row();
  justify-content: space-between;
  margin-top: 20px;
  animation: anim 2.5s forwards;

  .product-img {
    @include simple_size(550px);
  }

  .product-info {
    width: 550px;

    .product-price {
      font-size: 20px;
      margin-top: 8px;

      &::after {
        content: '';
        margin-top: 8px;
        display: block;
        height: 1px;
        width: 100%;
        background-color: $col_lightgrey;
      }
    }

    .product-sale {
      margin-left: 7px;
      text-decoration: line-through;
      color: $col_unactive;
      font-size: 16px;
    }

    .but-buy {
      @include but() {
        margin-top: 50px;
      }
    }

    .details {
      border-bottom: 1px solid $col_lightgrey;
      margin-top: 50px;
      padding-bottom: 10px;

      .detail-header {
        @include flex_row();
        justify-content: space-between;

        .title {

        }

        .but-detail {
          background: none;
          border: none;
          cursor: pointer;
          transition: $trans;
          color: $col_primary;
          margin-right: 5px;
          font-size: 20px;

          &:hover {
            color: $col_primarydark;
          }
        }
      }

      .detail-info {
        font-size: 14px;
        animation: slide 1.5s forwards;
      }
    }
  }
}

.product-options {
  margin-top: 30px;

  .options-title {
    font-weight: bold;
    margin-bottom: 20px;
  }

  button {
    border: none;
    cursor: pointer;
  }

  .but-counter {
    border-radius: 50%;
    @include simple_size(30px);
    font-size: 18px;
    transition: $trans;

    &:hover {
      background-color: $col_primarydark;
      color: $col_white;
    }
  }

  .counter {
    margin: 0 15px;
  }

  .options-color {
    @include flex_row();

    .color {
      @include simple_size(40px);
      background-color: $col_primarydark;
      border-radius: 50%;
      margin-left: 5px;
      cursor: pointer;

      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}

/*Catalog*/

.catalog {
  .catalog-title {
    font-size: 20px;
  }

  .products {
    display: grid;
    grid-template-columns: 1fr;

    .product {
      margin-top: 30px;

      &:nth-child(3) {
        display: flex;
      }

      &:nth-child(4) {
        display: flex;
      }
    }
  }

  .but-container {
    @include flex_row();
    justify-content: center;

    .but-showMore {
      margin: 50px auto 0 auto;
      border: none;
      background-color: $col_black;
      color: $col_white;
      border-radius: 4px;
      text-align: center;
      padding: 15px 30px;
      cursor: pointer;
      transition: $trans;

      &:hover {
        background-color: $col_primarydark;
      }
    }
  }
}

/*Filter*/

.filter {
  margin-top: 30px;
  @include flex_row();
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid $col_lightgrey;

  .filter-options {
    display: flex;

    .filter-option {
      margin-left: 30px;
      outline: 0;
      border: 0;
      cursor: pointer;
      background: none;

      &:first-child {
        margin-left: 0;
      }

      option {
        cursor: pointer;
      }
    }
  }
}

/*Search*/
.column-container {
  position: absolute;
  z-index: 2;
  background-color: #f2f2f2c2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  animation: anim 1s forwards;
  @include flex_row();
  justify-content: flex-end;

  .column-header {
    @include flex_row();
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid $col_lightgrey;

    .column-title {
      font-size: 20px;
    }

    .column-cancel {
      @include simple_size(15px);
    }
  }

  .column-footer {
    @include flex_row();
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    border-top: 1px solid $col_lightgrey;
    margin-top: 30px;
  }

  .search, .cart {
    height: 100%;
    background-color: $col_white;
    right: 0;
    padding: 30px;
    color: $col_black;
    width: 350px;

    .search-input {
      margin-top: 20px;
      outline: none;
      border: none;
      border-bottom: 1px solid $col_lightgrey;
      width: 100%;
      background: none;
      padding: 5px 0;
    }

    .search-results, .cart-products {
      overflow-y: auto;
      margin-top: 15px;
      height: 75vh;

      .search-result {
        @include flex_row();
        align-items: center;
        margin-top: 15px;
        cursor: pointer;
        animation: anim 2.5s forwards;
        transition: .3s;

        &:hover {
          background-color: $col_lightgrey;
        }

        .product-img {
          @include simple_size(70px);
          filter: none!important;
          -webkit-filter: none!important;
        }
      }
    }

    .cart-products {
      margin-top: 0;
      height: 70vh;

      .product-info {
        margin-left: 10px;

        .product-title {
          margin-bottom: 5px;
          font-size: 14px;
        }

        .product-price {
          line-height: 17px;
          font-size: 14px;

          .product-sale {
            margin-left: 7px;
            text-decoration: line-through;
            color: $col_unactive;
            line-height: 18px;
          }
        }

        .product-options {
          margin-top: 12px;
        }
      }

      .cart-product {
        @include flex_row();
        margin-top: 30px;
        animation: anim 2s forwards;

        .product-img {
          @include simple_size(90px);
        }

        .product-info {
          margin-left: 20px;
        }

        .product-price {
          margin-top: 10px;
        }
      }

      .search-message {
        margin-top: 35vh;
      }
    }

    .but-buyCart {
      @include but() {
        margin-top: 15px;
      }
    }
  }

  .search-message {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 5px;
    animation: anim 2.5s forwards;
  }
}



/*Media Screens*/

$sizes: ("sm":575.98px, "md":767.98px, "lg":991.98px, "xl":1199.98px);

@mixin md($minmax, $size) {
  @media only screen and (#{$minmax}-width: $size) {
    @content;
  }
}

@mixin media($minmax, $media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media only screen and (#{$minmax}-width: $resolution) {
        @content;
      }
    }
  }
}

@include md("max", 510px) {
  .banners {
    .banner {
      text-align: center;

      button {
        margin: 20px auto 0 auto;
      }
    }
  }

  .products {
    .product {
      $size: 200px;

      img {
        @include simple_size($size);
      }

      button {
        margin-top: $size - 60px !important;
      }
    }
  }

  .product-card {
    flex-wrap: wrap;
    justify-content: center;

    $size: 100%;

    .product-img {
      @include simple_size($size);
    }

    .product-info {
      width: $size;
      margin-top: 50px;
    }
  }

  .catalog {
    .products {
      grid-template-columns: 1fr 1fr;
    }
  }

  .column-container {
    .search, .cart {
      width: 100%;
    }
  }
}

@include md("max", 480px) {
  .banners_container {
    .banners {
      .banner {
        padding: 40px 60px;
      }
    }
  }

  .products {
    justify-content: center;

    .product {
      &:nth-child(2) {
        display: none;
      }

      $size: 280px;

      img {
        @include simple_size($size);
      }

      button {
        margin-top: $size - 60px !important;
      }
    }
  }

  .catalog {
    .products {
      grid-template-columns: 1fr;
    }
  }
}

@include md("max", 420px) {
  .header {
    .nav {
      .item {
        margin: 0 15px;
      }
    }
  }

  .filter {
    .filter-options {
      flex-direction: column;

      .filter-option {
        margin: 7px 0 0 0 ;
      }
    }
  }
}

@include md("min", 510px) {
  .product-card {
    flex-wrap: wrap;
    justify-content: center;

    $size: 100%;

    .product-img {
      @include simple_size($size);
    }

    .product-info {
      width: $size;
      margin-top: 50px;
    }
  }

  .catalog {
    .products {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@include media("min", "sm") {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }

  .banners_container {
    .banners {
      .banner:nth-child(2), .banner:nth-child(3) {
        display: none;
      }
    }
  }

  .products {
    .product {
      $size: 260px;

      img {
        @include simple_size($size)
      }

      button {
        margin-top: $size - 60px !important;
      }
    }
  }

}

@include media("min", "md") {
  .container {
    max-width: 720px;
  }

  .products {
    .product {

      $size: 230px;

      img {
        @include simple_size($size)
      }

      button {
        margin-top: $size - 60px !important;
      }

      &:nth-child(3) {
        display: flex;
      }
    }
  }

  .product-card {
    flex-wrap: nowrap;
    justify-content: space-between;

    $size: 320px;

    .product-img {
      @include simple_size($size);
    }

    .product-info {
      width: $size;
      margin-top: 0;
    }
  }

  .catalog {
    .products {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@include media("min", "lg") {
  .container {
    max-width: 960px;
  }

  .banners_container {
    .banners {
      .banner {
        &.first {
          order: 1;
          width: 100%;
          max-width: 100%;
        }

        &.second {
          order: 2;
          max-width: 300px;
        }

        &.third {
          order: 3;
          max-width: 300px;
        }

        &:nth-child(2) {
          display: block;
        }

        &:nth-child(3) {
          display: block;
        }
      }
    }

    .nav {
      display: none;
    }
  }

  .products {
    .product {
      &:last-child {
        display: flex;
      }
    }
  }

  .product-card {
    $size: 400px;

    .product-img {
      @include simple_size($size);
    }

    .product-info {
      width: $size;
    }
  }

  .catalog {
    .products {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@include media("min", "xl") {
  .container {
    max-width: 1280px;
    padding: 0 120px;
  }

  .banners_container {
    .banners {
      .banner {
        &.second, &.third {
          max-width: 310px
        }
      }
    }
  }

  .product-card {
    $size: 450px;

    .product-img {
      @include simple_size($size);
    }

    .product-info {
      width: $size;
    }
  }
}

@include md("min", 1300px) {
  .banners_container {
    .banners {
      .banner {
        &.second, &.third {
          max-width: 360px;
        }
      }
    }
  }

  .products {
    .product {
      $size: 250px;

      img {
        @include simple_size($size)
      }

      button {
        margin-top: $size - 60px !important;
      }
    }
  }

  .product-card {
    $size: 500px;

    .product-img {
      @include simple_size($size);
    }

    .product-info {
      width: $size;
    }
  }
}

@include md("min", 1400px) {
  .banners_container {
    .banners {
      .banner {
        &.second, &.third {
          max-width: 410px;
        }
      }
    }
  }

  .products {
    .product {
      $size: 280px;

      img {
        @include simple_size($size)
      }

      button {
        margin-top: $size - 60px !important;
      }
    }
  }

  .product-card {
    $size: 550px;

    .product-img {
      @include simple_size($size);
    }

    .product-info {
      width: $size;
    }
  }
}

@include md("min", 1520px) {
  .banners_container {
    .banners {
      .banner {
        &.second, &.third {
          max-width: 470px;
        }
      }
    }
  }
}




